ody {
  max-width: 700px;
  margin: 30px auto;
  padding: 15px;
  border: 1px solid #272044;
  border-radius: 10px;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 800;
  margin-top: 20px;
  color: #272044;
  font-size: 34px;
}

h2 {
  font-size: 15px;
  color: darkslategray;
  padding: 0 0 24px;
  font-weight: 800;
}
h4 {
  font-size: 18px;
  margin: 0 0 15px;
}
p {
  color: darkslategrey;
  font-family: monospace;
  margin-top: 0px;
  font-size: 20px;
}
footer {
  padding: 0px 50px;
  display: block;
  margin: auto 0;
}
img {
  margin-top: 15px;
  height: 100px;
}

.more-info-weather {
  padding: 0px 50px;
  display: block;
  margin: auto 0;
  text-align: center;
}
.celcius,
.farenheit {
  font-size: 20px;
}
.rounded {
  display: block;
  margin-right: 15%;
  margin-top: 15px;
  height: 150px;
}
.tempeture-now {
  font-size: 35px;
  margin: 0px;
}
.weather-now {
  color: darkslategrey;
  font-size: 18px;
  margin: 0px;
}
.numbers-information {
  padding: 10px 0px 10px 0px;
  font-size: 40px;
  font-weight: bolder;
}
.moreinfo-text {
  font-size: 18px;
}

.byme {
  padding: 0px 100px;
}
.container {
  margin: 10px auto;
}

.byme {
  text-align: center;
}
